@import '../teaser/teaser.css';

.finance-card-list {
  &.dark-teaser-list{
    background: var(--primary-main-color);
    .text-color{
      color: var(--secondary-main-color);
    }
  }
  &.light-teaser-list{
      background: var(--secondary-main-color);
      .text-color{
        color: var(--primary-main-color);
      }
  }
  padding-top: 48px;
  padding-bottom: 48px;
}

.teaser__cards {
  display: grid;
  grid-auto-columns: 336px 336px;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (min-width: 1024px) {
  .teaser__cards {
    grid-auto-columns: 650px 650px;
  }
}

.teaser__cards {
    overflow: hidden;
}

.teaser__cards::-webkit-scrollbar {
    display: none;
}




/* styles */
:root {
  --Primary-Main: #18171a;
  --Tertiary-White: #fff;
}

/* Reset and basic styles */
body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/* Heading styles */
h2 {
  font-family: "Kepler Std";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.64px;
}

